<%= turbo_frame_tag api_key do %>
  <div class="api_key">
    <div class="api_key__info">
      <strong class="api_key__name"><%= api_key.name %></strong>
      <span class="api_key__key">
        <% if api_key.raw_token %>
          <%= api_key.raw_token %>
        <% else %>
          <%= token_mask(api_key.token_prefix) %>
        <% end %>
      </span>
      <span class="api_key__created_at">Added <%= api_key.created_at %></span>
    </div>
     <div class="api_key__actions">
      <%= button_to "Revoke", api_key_path(api_key), method: :delete, class: "btn btn--light" %>
    </div>
  </div>
<% end %>
