<main class="container">
  <div class="header">
    <h1>API Keys</h1>
    <%= link_to "New API Key",
      new_api_key_path,
      class: "btn btn--primary",
      data: { turbo_frame: dom_id(ApiKey.new) }
    %>
  </div>

  <%= turbo_frame_tag ApiKey.new %>

  <%= turbo_frame_tag "api_keys" do %>
    <%= render "api_keys/empty_state" %>
    <%= render @api_keys %>
  <% end %>
</main>
